<?xml version="1.0" encoding="UTF-8"?>
<!-- monitorInterval :含义是每隔多少秒重新读取配置文件，可以不重启应用的情况下修改配置 -->
<configuration status="WARN">
	 <Properties>
        <property name="web_name">
            ssmdemo
        </property >
        <!--在tomcat下默认路径在bin下  -->
        <property name="log_path">
           ../logs
         </property>
      </Properties>  
	<appenders>
		<console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />

		</console>
		<!--临时测试用 -->
		<File name="log" fileName="log/test.log" append="false">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</File>
		<!--因为目前日志文件不是太大 ，所以暂时不进行压缩 debug-%d{yyyy-MM-dd}-%i.log 如果进行压缩 改成debug-%d{yyyy-MM-dd}-%i.log.gz -->
		<!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
		<!--debug -->
		<RollingFile name="RollingFileDebug"
			fileName="${log_path}/${web_name}/debug.log"
			filePattern="${log_path}/${web_name}/$${date:yyyy-MM}/debug-%d{yyyy-MM-dd}-%i.log.gz">
			<Filters>
                <!--首先需要过滤不符合的日志级别，把不需要的首先DENY掉，然后在ACCEPT需要的日志级别，次序不能颠倒-->
                <!--INFO及以上级别拒绝输出-->
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
                <!--只输出DEBUG级别信息-->
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<Policies>
			      <!--一天生成一个日志文件  -->
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
			</Policies>
			<DefaultRolloverStrategy>
					<Delete basePath="${log_path}/${web_name}" maxDepth="2">
						<IfFileName glob="*/debug-*.log.gz" />
						<IfLastModified age="1d" />
					</Delete>
				</DefaultRolloverStrategy>
		</RollingFile>
		<!--Info -->
		<RollingFile name="RollingFileInfo"
			fileName="${log_path}/${web_name}/info.log"
			filePattern="${log_path}/${web_name}/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log.gz">
			<Filters>
                <!--首先需要过滤不符合的日志级别，把不需要的首先DENY掉，然后在ACCEPT需要的日志级别，次序不能颠倒-->
                <!--INFO及以上级别拒绝输出-->
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <!--只输出DEBUG级别信息-->
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<Policies>
			    <!--一天生成一个日志文件  -->
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
			</Policies>
			<!--配置日志删除时间  14条删除-->
			<DefaultRolloverStrategy>
					<Delete basePath="${log_path}/${web_name}" maxDepth="2">
						<IfFileName glob="*/info-*.log.gz" />
						<IfLastModified age="14d" />
					</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		<!--warn -->
		<RollingFile name="RollingFileWarn"
			fileName="${log_path}/${web_name}/warn.log"
			filePattern="${log_path}/${web_name}/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log.gz">
			<Filters>
                <!--首先需要过滤不符合的日志级别，把不需要的首先DENY掉，然后在ACCEPT需要的日志级别，次序不能颠倒-->
                <!--INFO及以上级别拒绝输出-->
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
                <!--只输出DEBUG级别信息-->
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
			</Policies>
			<!--配置日志删除时间  14天删除-->
			<DefaultRolloverStrategy>
					<Delete basePath="${log_path}/${web_name}" maxDepth="2">
						<IfFileName glob="*/warn-*.log.gz" />
						<IfLastModified age="14d" />
					</Delete>
				</DefaultRolloverStrategy>
		</RollingFile>

		<!--error -->
		<RollingFile name="RollingFileError"
			fileName="${log_path}/${web_name}/error.log"
			filePattern="${log_path}/${web_name}/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
			</Policies>
			<!--配置日志删除时间  30天删除-->
			<DefaultRolloverStrategy>
					<Delete basePath="${log_path}/${web_name}" maxDepth="2">
						<IfFileName glob="*/error-*.log.gz" />
						<IfLastModified age="30d" />
					</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</appenders>
	<loggers>
		<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
		<!--过滤掉一些无用的DEBUG信息 -->
		<logger name="org.springframework" level="INFO"
			additivity="false">
			
		</logger>
		<logger name="org.apache.ibatis" level="ERROR"
			additivity="false">
			
		</logger>
		
       <logger name="com.demo.dao" level="DEBUG"
			additivity="false">
			
		</logger>

		<!--只有在root配置了 才会在日志输出 -->
		<root level="DEBUG">
			
			
			<appender-ref ref="RollingFileDebug" />
			<appender-ref ref="RollingFileInfo" />
			<appender-ref ref="RollingFileWarn" />
			<appender-ref ref="RollingFileError" />
		</root>
	</loggers>
</configuration>