<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.OrgMapper">
  <resultMap id="BaseResultMap" type="com.demo.bean.Org">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="org_level" jdbcType="INTEGER" property="orgLevel" />
    <result column="org_manager" jdbcType="VARCHAR" property="orgManager" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="org_phone" jdbcType="VARCHAR" property="orgPhone" />
    <result column="org_address" jdbcType="VARCHAR" property="orgAddress" />
    <result column="org_photo" jdbcType="VARCHAR" property="orgPhoto" />
    <result column="org_type" jdbcType="INTEGER" property="orgType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="parent_yes" jdbcType="TINYINT" property="parentYes" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.demo.bean.Org">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, org_name, org_level, org_manager, parent_id, org_phone, org_address, org_photo, 
    org_type, create_time, update_time, parent_yes
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from org
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from org
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.demo.bean.Org">
    insert into org (id, org_name, org_level, 
      org_manager, parent_id, org_phone, 
      org_address, org_photo, org_type, 
      create_time, update_time, parent_yes, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{orgName,jdbcType=VARCHAR}, #{orgLevel,jdbcType=INTEGER}, 
      #{orgManager,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{orgPhone,jdbcType=VARCHAR}, 
      #{orgAddress,jdbcType=VARCHAR}, #{orgPhoto,jdbcType=VARCHAR}, #{orgType,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{parentYes,jdbcType=TINYINT}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.bean.Org">
    insert into org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="orgLevel != null">
        org_level,
      </if>
      <if test="orgManager != null">
        org_manager,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="orgPhone != null">
        org_phone,
      </if>
      <if test="orgAddress != null">
        org_address,
      </if>
      <if test="orgPhoto != null">
        org_photo,
      </if>
      <if test="orgType != null">
        org_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="parentYes != null">
        parent_yes,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null">
        #{orgLevel,jdbcType=INTEGER},
      </if>
      <if test="orgManager != null">
        #{orgManager,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="orgPhone != null">
        #{orgPhone,jdbcType=VARCHAR},
      </if>
      <if test="orgAddress != null">
        #{orgAddress,jdbcType=VARCHAR},
      </if>
      <if test="orgPhoto != null">
        #{orgPhoto,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null">
        #{orgType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentYes != null">
        #{parentYes,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.bean.Org">
    update org
    <set>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgLevel != null">
        org_level = #{orgLevel,jdbcType=INTEGER},
      </if>
      <if test="orgManager != null">
        org_manager = #{orgManager,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="orgPhone != null">
        org_phone = #{orgPhone,jdbcType=VARCHAR},
      </if>
      <if test="orgAddress != null">
        org_address = #{orgAddress,jdbcType=VARCHAR},
      </if>
      <if test="orgPhoto != null">
        org_photo = #{orgPhoto,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null">
        org_type = #{orgType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentYes != null">
        parent_yes = #{parentYes,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.demo.bean.Org">
    update org
    set org_name = #{orgName,jdbcType=VARCHAR},
      org_level = #{orgLevel,jdbcType=INTEGER},
      org_manager = #{orgManager,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      org_phone = #{orgPhone,jdbcType=VARCHAR},
      org_address = #{orgAddress,jdbcType=VARCHAR},
      org_photo = #{orgPhoto,jdbcType=VARCHAR},
      org_type = #{orgType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      parent_yes = #{parentYes,jdbcType=TINYINT},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.bean.Org">
    update org
    set org_name = #{orgName,jdbcType=VARCHAR},
      org_level = #{orgLevel,jdbcType=INTEGER},
      org_manager = #{orgManager,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      org_phone = #{orgPhone,jdbcType=VARCHAR},
      org_address = #{orgAddress,jdbcType=VARCHAR},
      org_photo = #{orgPhoto,jdbcType=VARCHAR},
      org_type = #{orgType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      parent_yes = #{parentYes,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <select id="selectList" resultMap="ResultMapWithBLOBs" >
    select * from org
  </select>
</mapper>